[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = 14roiron
	email = yohann.roiron@mines-paristech.fr
	default = simple
	signingkey = 515F83ACA07C75458A34DB28BA049EB03B713270
[core]
	editor = /usr/bin/vim
[merge]
	tool = diffconflicts
[mergetool "diffconflicts"]
	cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
	keepBackup = false
[diff] 
   tool = vimdiff 
[difftool] 
   prompt = false
[alias]
	d = difftool
[push]
	default = matching
[credential]
	helper = cache
[commit]
	gpgsign = true
[gpg]
	program = gpg1
